<!DOCTYPE html>
<html>
  <head>
    <title>.::<%= t("general.appname") %>::.</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/sidebar" %>

    <div class="pusher">
      <div class="ui top attached demo menu">
        <a class="item" id="menuTrigger">
          <i class="sidebar icon"></i>
          Menu
        </a>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render partial: "layouts/javascripts" %>
  </body>
</html>
